@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
*{font-family: 'TheJamsil'; font-size: 15px;}

body{
    background: #384b44;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.login{
 text-align: center;
 width: 1000px;
 border-radius: 10px;
 display: flex;
}
.login_left{flex: 1;
  background-color: #103428;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 0 0 10px;
  /* background: url(/img/login.jpg) no-repeat center center; */
}
.login_left img{
  width: 200px;
  height: 50px;
  position: relative;
  bottom: 30px;
}
.login_left span{color: #fff;
  width: 390px;
  margin-top: 20px;
  line-height: 30px;
}
.login_right{flex: 1;
  background-color: #eeeeee;
  padding: 2rem 2rem;
  border-radius: 0px 10px 10px 0px;
}
.login_right img{

}
.login_right h1{
  font-size: 2rem;
  font-weight: 500;
  margin: 3rem 0;
}
.login_right h1 span{color: #007BC7;}
.login_right .checkbox_field{
  position: relative;
  left: 65px;
  display: flex;
  margin-top: 30px;
}
.login_right .checkbox_field input{}
.login_right .checkbox_field p{margin-left: 10px;}
.input_field{
  position: relative;
}
.input_field  input {
  width: 70%;
  padding: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #9e9e9e;
  background-color: transparent;
  margin: 1.2rem 0;
  font-size: 17px;
}
.input_field span i{font-size: 1.5rem;
  margin-right: 10px;
}
.input_field span {
  position: absolute;
  left: 70px;
  top: 30px;
  font-size: 15px;
  pointer-events: none;
  transition: 0.5s;
}
.input_field input:focus + span {
  top: 0;
  font-size: 0.9rem;
  color: #A0C4E8;
  font-weight: 500;
}
.input_field span.warning {
  color: crimson;
  animation: warning 0.3s;
}
.button_field input {
  background-color: #AAD499;
  outline: none;
  color: #fff;
  border: none;
  outline: none;
  width: 50%;
  border-radius: 2rem;
  padding: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin: 2rem 0;
}
.button_field input:hover {
  background-color: #7cbb63;
  transition: 1s;
}
@keyframes warning {
  0%, 100% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
.add_info{}
.add_info a {
  margin-left: 20px;
}
.add_info .click::before{
  content: '|';
  position: relative;
  width: 1px;
  height: 3px;
  top: 0px;
  right: 10px;
}
.trigger{
  display: block;
  width: 25px;
  height: 10px;
  top: -40px;
  position: relative;
  right: -435px;
  cursor: pointer;
}
.trigger span{
  position: absolute;
  height: 2px;
  width: 110%;
}
 .trigger span:nth-child(1){background-color: rgb(95, 95, 95);
  transform: rotate(45deg);
}
.content_bottom{width: 90%;}
 /* .trigger span:nth-child(2){top: 50%; transform: translateY(-50%); background-color: orange;} */
 .trigger span:nth-child(3){background-color: rgb(95, 95, 95);
  transform: rotate(-45deg);
}