@media screen and (max-width:768px){
  *{box-sizing: border-box;}
  .login{
    width: 100%;
    border: 1px solid #000;
    flex-direction: column;
    margin: auto;
  }
  .login_left{width: 100%;
    margin: auto;
    border-radius: 10px 10px 0 0;
    
  }
  .login_left img{
    position: relative;
    margin-top: 20px;
    top: 20px;
  }
  .login_left span{font-size: 13px;
    width: 50%;
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .login_right{
    width: 100%;
    margin: auto;
    border-radius: 0 0 10px 10px;
  }
  .login_right img{
    width: 30%;
  }
  .login_right h1{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
  }
  .login_right .trigger{
    display: none;
  }
  .login_right h1{
    font-size: 20px;
  }
  .login_right h1 span{}
  .login_right form{width: 100%;}
  .login_right form .input_field{
  }
  .login_right form input{} 
  .login_right form span{
    font-size: 14px;
    position: absolute;
    left: 90px;
  } 
  .login_right form span i{
    font-size: 17px;
  }

  .checkbox_field input{
    margin-left: 25px;
  } 
  .checkbox_field p{
    font-size: 13px;
    margin-top: 5px;
    margin-right: 40px;
  }
  .button_field{width: 90%;
    margin: auto;
  }
  .button_field input{
    padding: 7px 0;
    width: 50%;
    font-size: 15px;
  }
  .add_info a{font-size: 13px;}
}
@media screen and (max-width:390px ){
  .login_right form input{} 
  .login_right form span{
    font-size: 14px;
    position: absolute;
    left: 50px;
  } 
  .login_right form span i{
    font-size: 17px;
  }
  .checkbox_field input{
    margin-left: -12px;
  } 
}