@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
@import url('https://webfontworld.github.io/DdangFonts/TangsBudaeJjigae.css');
*{font-family: 'TheJamsil';}
body{font-size: 16px;
  
}
/* #header_lnb ul li:nth-child(1) a{
  position: relative;
  color: #00a23e;
} */
#header_lnb ul li .cursor{
  position: relative;
  color: #7CC16E !important;
}
#header_lnb ul li .cursor::after{
  content: '';
  background: url(../img/icon/icons8-손-커서.svg)no-repeat;
  width: 60px; height: 60px;
  position: absolute;
  top: 15px; left: 5px;
  animation: cursor1;
  animation-duration : 1.5s;
  animation-iteration-count : infinite;
}
@keyframes cursor1{
  0% {
		transform : translateY(0% )
	}
	100% {
		transform : translateY(-10%)
	}
}
.gnb_num03 .cursor{display: inline-block;
  position: relative;  color: #7CC16E !important;
}
.gnb_num03 .cursor::after{
  content: '';
  background: url(../img/icon/icons8-손-커서.svg)no-repeat;
  width: 60px; height: 60px;
  position: absolute;
  top: 60px; right: 10px;
  animation: lotate;
  animation-duration : 1.5s;
  animation-iteration-count : infinite;
}
@keyframes lotate {
  0% {
		transform : translateY(0% )
	}
	100% {
		transform : translateY(-10%)
	}
}
.inner {
  width: 1300px;
  margin: auto;
}
/* header */
header#header_container {
  display: flex;
}
header#header_container .inner > ul {
  display: flex;
  margin-top: 1.7em;
  justify-content: end;
}
header#header_container .inner li {
  margin-right: 0.7em;
}
header#header_container .inner li a {
  font-size: 0.8em;
  color: #7a7a7a;
}
header#header_container .inner li:last-child {
  margin: 0;
}
header#header_container .inner li > input {
  margin-bottom: 0.3em;
  padding: 0;
}
header#header_container .inner li > button {
  background-color: rgb(90, 90, 90);
  color: #fff;
  border-style: none;
  margin-left: 0.5em;
}
div#header_logo {
  border-bottom: 1px solid #ddd;
}
header#header_container .inner li::after {
  content: " ";
  height: 11px;
  width: 1px;
  display: inline-block;
  background-color: #333;
  margin-left: 0.5em;
}
header#header_container .inner li:last-child::after {
  display: none;
}
header#header_container .inner li:nth-child(7)::after {
  display: none;
}
.mobile_navbar {
  display: none;
}
/* 탑헤더 끝 */

div#header_logo {
  display: flex;
  justify-content: center;
}
div#header_logo .inner {
  /* border: 1px solid cornflowerblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: relative;
}
div#header_logo .inner > #main_gnb > ul {
  display: flex;
}
div#header_logo .inner > #main_gnb > ul > li {
  margin: 0 1.5em;
  height: 100px;
}
div#header_logo .inner > #main_gnb > ul > li > a {
  font-size: 17px;
  display: block;
  height: 100%;
  line-height: 100px;
}

/* sub */
.gnb_sunInner .sub_rightbox .sub_listbox{margin-top: 5px;}
.gnb_num00 .sub_leftbox,
.gnb_num00 .sub_rightbox{height: 550px;}
.gnb_num01 .sub_leftbox,
.gnb_num01 .sub_rightbox{height: 400px;}
.gnb_num02 .sub_leftbox,
.gnb_num02 .sub_rightbox{height: 300px;}
.gnb_num03 .sub_leftbox,
.gnb_num03 .sub_rightbox{height: 750px;}
.gnb_num04 .sub_leftbox,
.gnb_num04 .sub_rightbox{height: 640px;}
.gnb_num05 .sub_leftbox,
.gnb_num05 .sub_rightbox{height: 400px;}
.gnb_num06 .sub_leftbox,
.gnb_num06 .sub_rightbox{height: 400px;}
#main_gnb ul li a{
  transition: 0.s;
}
#main_gnb ul li a:hover{
  color: #7CC16E;
}
div#main_gnb .gnb_sunInner {
  width: 1900px;
  position: absolute;
  z-index: 9999;
  top: 100px;
  left: -300px;
  display: flex;
  transition: 2s;
}
div.sub_leftbox {
  background-color: #047442;
  width: 545px;
  height: 600px;
  float: left;
  position: relative;
  bottom: 25px;
  margin-top: 25px;
  border-bottom: 2px solid #047442;
}
div.sub_rightbox {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 0 1em;
  background-color: #fff;
  border-bottom: 2px solid #047442;
}
div.sub_leftbox > p {
  color: #f3f7f6;
  font-size: 14px;
  position: relative;
  left: 280px;
  margin-top: 25px;
}
div.sub_leftbox h3 {
  font-size: 2em;
  margin-top: 10px;
  font-weight: 400;
  color: #e5ffe0;
  position: relative;
  left: 280px;
}
div.sub_leftbox > div {
  text-align: center;
  margin-top: 20px;
  position: relative;
  left: 280px;
}
div.sub_leftbox > div > img {
  display: block;
}

div.sub_rightbox .sub_listbox {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #7f7f7f88;
  margin-left: 10px;
}
div.sub_rightbox .sub_listbox:last-child {
  border-bottom: none;
}
div.sub_rightbox .subTitle {
  border: 1px solid #b6b6b6;
  width: 200px;
  margin-bottom: 1em;
  text-align: center;
}
div.sub_rightbox .subTitle > span {
  font-size: 1.1em;
  padding: 0.5em;
  display: block;
}
div.sub_rightbox .subList {
  margin: 1em 0;
}
div.sub_rightbox .subList ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
div.sub_rightbox .subList ul > li {
  margin: 0.4em 0;
  margin-left: 2.5em;
  margin-right: 2em;
}
div.sub_rightbox .subList ul > li > a {
  font-size: 15px;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
div.sub_rightbox .subList ul > li > a::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: block;
  background-color: #242424;
  top: 8px;
  left: -15px;
  position: absolute;
}
div.sub_rightbox .subList ul > li > a:hover {
  color: #047442;
}
.testsub00 {
  height: 570px;
}
.testsub01 {
  height: 415px;
}
.testsub02 {
  height: 230px;
}
.testsub03 {
  height: 760px;
}
.testsub04 {
  height: 600px;
}
.testsub05 {
  height: 390px;
}
.testsub06 {
  height: 350px;
}
/*notice_container */
.notice_container{
    position: relative;
    width: 1300px;
    margin: 0 auto;
}
.container_wrap{
  position: relative;
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}
/* notice_visual */
.notice_visual{
  position: relative;
  height: 130px;
  background: url(../img/subpage/bg_sub_visual.jpg) no-repeat center center;
  text-align: center;
}
.visual_wrap{
  position: absolute;
  width: 1300px;
  height: 130px;
  margin: 0 auto;
  color: #fff;
}
.visual_wrap h3{
  font-size: 40px;
  color: #fff;
  padding-top: 35px;
}
.sub_nav{color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-top: 25px;}
.visual_icon{
  position: absolute;
  bottom: 0;
  right: 70px;
}
.visual_icon ul li{float: left;
  border-right: solid 1px #d0d5db;}
  .visual_icon ul li:last-child{
    border-right: none;
  }
  .visual_icon ul li button{
    width: 57px;
    height: 40px;
    display: block;
    cursor: pointer;
    border: 0;
  }
  .visual_icon ul li .share{
    background: url(../img/subpage/icon_share.png) 0 0 no-repeat;
  }
  .visual_icon ul li .link{ background: url(../img/subpage/icon_link.png) 0 0 no-repeat;}
  .visual_icon ul li .print{background: url(../img/subpage/icon_print.png)0 0 no-repeat;}
  .visual_icon ul li .top{background: url(../img/subpage/icon_top.png)0 0 no-repeat;}
/* notice_left */
.notice_left{
  position: relative;
    width: 188px;
    z-index: 9;
    padding: 90px 15px 30px;
    top: 70px;
    margin-left: 70px;
    border: solid 1px #eaeaea;
    border-top: 0px;
    float: left;
    margin-bottom: 100px;
}
.lnb{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #AAD499;
  text-align: left;
}
.lnb h2{
  font-size: 22px; margin-top: 20px; margin-left: 20px;
  color: #fff;
}
.notice_left ul .lnb_list1{
  padding: 15px 0;
  text-align: left;
  border-bottom: 1px solid #dedede;
}
.notice_left ul .lnb_list1:last-child{border-bottom: none;}
.notice_left ul .lnb_list1.on>a{
  color: #AAD499;
}
.notice_left ul .lnb_list1>a{
  color: #000000;
}
.lnb_list1 ul .lnb_list2{
    padding-top: 13px;
    text-indent: -10px;
    margin-left: 10px;
    margin-top: 10px;
}
.notice_left li.lnb_list2:first-child {
  padding-top: 17px;
}
.notice_left li.lnb_list2.on a {
  color: #AAD499!important;
}
.notice_left li.lnb_list2 a {
  font-size: 13px;
  color: #76848b!important;
  background: url(/img/subpage/bullet_lnb.png) 2px center no-repeat;
  padding-left: 10px;
}
/* notice_text */
.content_top{display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

}
.content_top .content_total i{
  color: #E2466B;
}
.content_top .content_new{
  text-align: center;
}
.content_top .content_new a{
  border: none;
  background-color: #7CC16E;
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 7px 15px;
  cursor: pointer;
  font-size: 12px;
}
.content_search{display: flex;}
.content_search input{margin-left: 5px;}
.content_search a{margin-left: 5px;}
.content_search a img{
  position: relative;
  top: 1px;
}
/* pagenation */
.notice_text{
  position: absolute;
  width: 950px;
  /* height: 100%; */
  margin: 0 auto;
  padding-bottom: 60px;
  top: 160px;
  left: 330px;
}
.content_bottom{
  height: 100px;
}
.pagination{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagenation i {
  color: #000;
  cursor: pointer;
}
#numbers {
  display: flex;
  margin: 0;
  justify-content: center;
  margin: 0 2rem;
  height: 50px;
  align-items: center;
}
#numbers li {
  margin: 0 0.2rem;
}
#numbers li a {
  text-decoration: none;
  width: 32px;
  line-height: 32px ;
  height: 32px;
  border: solid 1px #ddd;
  background-color: #fff;
}
#numbers li a:hover {
  color: #383838;
}
#numbers li a.active {
  text-align: center;
  line-height: 32px ;
  width: 32px;
  height: 32px;
  border: solid 1px #ddd;
  background: #AAD499;
  color: #ffffff;
}
.pagenation ol li {

}
.pagenation ol li a {
  color: #fff;
	padding: .5rem 1rem;
	text-decoration: none;
	opacity: .7;
}
/* #numbers li a.active {
	opacity: 1;
	background: #775050;
	color: #ffffff;
} */
/* .bi-chevron-left,
.bi-chevron-right
{
 cursor: pointer;
} */
#my-table {
  width: 100%;
  margin:0;
  padding: 0;
}
my-table colgroup {
}
.col1 {
  width: 60px
}
.col2 {
  width: 90px;
}
.col4 {
  width: 100px;
}
.col5 {
  width: 60px;
}
.col6 {
  width: 90px;
}
thead{
  border-top: 1px solid #AAD499;
}
thead tr{
 color: #ffffff;
}
th {
  background-color: #AAD499;
  line-height: 40px;
  font-size: 10px;
}
td {
  
}
tbody{
  text-align: center;
}
tbody tr{
  height: 10px;
}
tbody tr td{font-size: 13px;
  background-color: #ffffff;
  
}
tr:nth-child(even) td {
  background-color: #9b9b9b41;
}
tr td:nth-child(3){
  text-align: left;
  line-height: 50px;
  cursor: pointer;
}
/* footer */
footer{background-color: #103428;
  height: 250px;
  /* position: relative;
  top: -700px; */
  }
  .footer_wrap{ text-align: center; line-height: 50px;  width: 1300px; margin: auto;}
  .footer_text{
    padding-top: 20px;
    line-height: 40px;
    color: #fff;
    font-size: 14px; 
  }
  .footer_wrap a{color: #fff; font-weight: 300;
  }
  .footer_wrap p{font-weight: 300;}
  .footer_wrap img{width: 200px; margin-top: 20px;}
  
  footer .foonter_wrap03 {
    width: 100%;
    height: 250px;
    background-color: #103428;
    color: #dadada;
    text-align: center;
  }
  footer .foonter_wrap03 .wrap03_list {
    display: flex;
    justify-content: center;
  }
  footer .foonter_wrap03 .wrap03_list ul {
    display: flex;
    margin: 2.2em;
    margin-top: 3em;
  }
  footer .foonter_wrap03 .wrap03_list ul li a {
    color: #dadada;
    transition: 0.2s;
    font-size: 15px;
  }
  footer .foonter_wrap03 .wrap03_list ul li a:hover {
    color: #fcfcfc;
  }
  footer .foonter_wrap03 .wrap03_list ul li a::after {
    content: "/";
    color: #dadada8a;
    margin: 0 1em;
  }
  footer .foonter_wrap03 .wrap03_footer_info {
    line-height: 1.6em;
  }
  footer .foonter_wrap03 .wrap03_footer_info p{
    font-size: 13px;
  }
  footer .foonter_wrap03 .wrap03_list ul li a:last-child::after {
    display: none;
  }
  .footer_logo {
    margin-top: 2.5em;
  }
