/* .swiper-slide p { // 애니메이션 작동을 위한 초기화
  opacity: 0;
  transform: translateY(20px);
}
.swiper-slide-active p {
  // 애니메이션명, 1번 반복, .3초 동안, .2초 뒤에 시작, 100% 에서 끝나도록
  animation : ani 1 .3s .2s both;
}

@keyframes ani {
  0% { 
      opacity : 0; 
      transform : translateY(20px);
  }
  100% { 
      opacity : 1; 
      transform : translateY(20px);
  }
} */
@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
@import url('https://webfontworld.github.io/DdangFonts/TangsBudaeJjigae.css');
/* 
font-family: 'TangsBudaeJjigae';
font-family: 'TheJamsil';
*/
*{font-family: 'TheJamsil';}
body{font-size: 16px;}
/* quick menu */
.quick{
  position: absolute;
  top: 150px;
  right: 50px;
  width: 68px;
  height: 289px;
  border-radius: 15px;
  border: 4px solid #d1d0d05e;
  text-align: center;
}
.quick ul{
 display: flex;
 flex-direction:column;
 height: 289px;
}
.quick ul li{
  flex:1;  
  padding: 13px;
  /* border: 1px solid #c4c0c05e; */
  cursor: pointer;
  border-radius: 15px;
}
.quick ul li:nth-child(1):hover{background-color: #e4405e57;}
.quick ul li:nth-child(2):hover{ background-color: #1876f26b;}
.quick ul li:nth-child(3):hover{background-color: #fae1007e;}
.quick ul li:nth-child(4):hover{ background-color: #32b44a5d;}
.quick ul li:nth-child(5):hover{ background-color: #ed1d248a;}
.quick ul li a{ margin-top: -60px;}
:root{--point-color:#00A23E;}
.inner {
  width: 1350px;
  margin: auto;
}

/* 탑헤더 */
header#header_container {
  display: flex;
}
header#header_container .inner > ul {
  display: flex;
  margin-top: 1.7em;
  justify-content: end;
}
header#header_container .inner li {
  margin-right: 0.7em;
}
header#header_container .inner li a {
  font-size: 0.9em;
}
header#header_container .inner li:last-child {
  margin: 0;
}
header#header_container .inner li > input {
  margin-bottom: 0.3em;
  padding: 0;
}
header#header_container .inner li > button {
  background-color: rgb(90, 90, 90);
  color: #fff;
  border-style: none;
  margin-left: 0.5em;
}
header#header_container .inner li::after {
  content: " ";
  height: 11px;
  width: 1px;
  display: inline-block;
  background-color: #333;
  margin-left: 0.5em;
}
header#header_container .inner li:last-child::after {
  display: none;
}
header#header_container .inner li:nth-child(7)::after {
  display: none;
}
.mobile_navbar {
  display: none;
}
/* 탑헤더 끝 */

div#header_logo {
  display: flex;
  justify-content: center;
}
div#header_logo .inner {
  /* border: 1px solid cornflowerblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: relative;
}
div#header_logo .inner > #main_gnb > ul {
  display: flex;
}
div#header_logo .inner > #main_gnb > ul > li {
  margin: 0 1.5em;
  height: 100px;
}
div#header_logo .inner > #main_gnb > ul > li > a {
  font-size: 18px;
  display: block;
  height: 100%;
  line-height: 100px;
}

/* sub */
.gnb_sunInner .sub_rightbox .sub_listbox{margin-top: 5px;}
.gnb_num00 .sub_leftbox,
.gnb_num00 .sub_rightbox{height: 550px;}
.gnb_num01 .sub_leftbox,
.gnb_num01 .sub_rightbox{height: 400px;}
.gnb_num02 .sub_leftbox,
.gnb_num02 .sub_rightbox{height: 300px;}
.gnb_num03 .sub_leftbox,
.gnb_num03 .sub_rightbox{height: 750px;}
.gnb_num04 .sub_leftbox,
.gnb_num04 .sub_rightbox{height: 640px;}
.gnb_num05 .sub_leftbox,
.gnb_num05 .sub_rightbox{height: 400px;}
.gnb_num06 .sub_leftbox,
.gnb_num06 .sub_rightbox{height: 400px;}
#main_gnb ul li a{
  transition: 0.s;
}
#main_gnb ul li a:hover{
  color: #047442; 
}
div#main_gnb .gnb_sunInner {
  width: 1920px;
  position: absolute;
  z-index: 9999;
  top: 100px;
  left: -280px;
  display: flex;
  transition: 2s;
}
div.sub_leftbox {
  background-color: #047442;
  width: 545px;
  height: 600px;
  float: left;
  position: relative;
  bottom: 25px;
  margin-top: 25px;
  border-bottom: 2px solid #047442;
}
div.sub_rightbox {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 0 1em;
  background-color: #fff;
  border-bottom: 2px solid #047442;
}
div.sub_leftbox > p {
  color: #f3f7f6;
  font-size: 14px;
  position: relative;
  left: 280px;
  margin-top: 25px;
}
div.sub_leftbox h3 {
  font-size: 2em;
  margin-top: 10px;
  font-weight: 400;
  color: #e5ffe0;
  position: relative;
  left: 280px;
}
div.sub_leftbox > div {
  text-align: center;
  margin-top: 20px;
  position: relative;
  left: 280px;
}
div.sub_leftbox > div > img {
  display: block;
}

div.sub_rightbox .sub_listbox {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #7f7f7f88;
  margin-left: 10px;
}
div.sub_rightbox .sub_listbox:last-child {
  border-bottom: none;
}
div.sub_rightbox .subTitle {
  border: 1px solid #b6b6b6;
  width: 200px;
  margin-bottom: 1em;
  text-align: center;
}
div.sub_rightbox .subTitle > span {
  font-size: 1.1em;
  padding: 0.5em;
  display: block;
}
div.sub_rightbox .subList {
  margin: 1em 0;
}
div.sub_rightbox .subList ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
div.sub_rightbox .subList ul > li {
  margin: 0.4em 0;
  margin-left: 2.5em;
  margin-right: 2em;
}
div.sub_rightbox .subList ul > li > a {
  font-size: 15px;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}
div.sub_rightbox .subList ul > li > a::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: block;
  background-color: #242424;
  top: 8px;
  left: -15px;
  position: absolute;
}
div.sub_rightbox .subList ul > li > a:hover {
  color: #047442;
}
.testsub00 {
  height: 570px;
}
.testsub01 {
  height: 415px;
}
.testsub02 {
  height: 230px;
}
.testsub03 {
  height: 760px;
}
.testsub04 {
  height: 600px;
}
.testsub05 {
  height: 390px;
}
.testsub06 {
  height: 350px;
}

/* main_slide */
.main_slide{
  width: 1420px;
  height: 500px;
  margin: auto;
}
.container .swiper-wrapper div img{
  width: 1420px;
  height: 450px;
}
.container .swiper-button-next,
.container .swiper-button-prev
{color: #ffffff;}
/* .container .swiper-button-next{
  background: url(../img/next.png);
  width:48px  ; height: 56px;
  position: absolute;
  top: 417px; right: -1px;
}
.container .swiper-button-next::after{opacity: 0;}
.container .swiper-button-prev::after{opacity: 0;}
.container .swiper-button-prev{
  background: url(../img/prev.png);
  width:48px  ; height: 56px;
  position: absolute;
  top: 417px; left: 1325px;
} */
/* live */
section#sect02 .inner {
  height: 182px;
  display: flex;
  width: 1420px;
  margin: auto;
  align-items: center;
  border: 1px solid #42a5af;
  justify-content: space-between;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(184, 184, 184, 0.365);
}
section#sect02 .inner #control_infor {margin-left: 2em;}
section#sect02 .inner #control_infor strong {font-size: 18px; font-weight: 500;}
section#sect02 .inner #control_infor p { margin: 1em 0;color: #7f7f7f;line-height: 21px;}
section#sect02 .inner #control_infor > div { margin-top: 2em;}
section#sect02 .inner #control_infor > div > span { margin-right: 3.87em;}
section#sect02 .inner #control_infor > div > span:nth-of-type(1) {color: #ba001a; position: relative;}
section#sect02 .inner #control_infor > div > span:nth-of-type(2) { color: #d36400; position: relative;}
section#sect02 .inner #control_infor > div > span:nth-of-type(3) {color: #00ba1a;position: relative;}
section#sect02 .inner #control_infor > div > span:nth-of-type(1)::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 28, 62, 1) 0%,
    rgba(255, 28, 29, 0) 100%
  );
  position: absolute;
  top: 2px;
  left: 70px;
  filter: blur(50%);
}
section#sect02 .inner #control_infor > div > span:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 142, 41, 1) 0%,
    rgba(255, 142, 41, 0) 100%
  );
  position: absolute;
  top: 2px;
  left: 70px;
}
section#sect02 .inner #control_infor > div > span:nth-of-type(3)::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 186, 26, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  top: 2px;
  left: 50px;
}

section#sect02 .inner #control_list { display: flex; justify-content: space-between;}
section#sect02 .inner #control_list ul { display: flex; flex-direction: column;}
section#sect02 .inner #control_list ul li { margin: 0.5em 0; position: relative;}
section#sect02 .inner #control_list a { font-size: 1.07em;}
section#sect02 .inner #control_list a::before { content: "·"; margin-right: 1em;}
section#sect02 .inner #control_list .congroup { width: calc(960px / 6);}

/*     탐방통제정보 컨트롤 css      */
#control_infor span{font-size: 15px;}
#control_infor p{font-size: 15px;}
section#sect02 .inner #control_list ul .exe01::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 186, 26, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  top: 2px;
  left: 110px;
}
section#sect02 .inner #control_list ul .exe02::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 142, 41, 1) 0%,
    rgba(255, 142, 41, 0) 100%
  );
  position: absolute;
  top: 2px;
  left: 110px;
}
section#sect02 .inner #control_list ul .exe03::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 28, 62, 1) 0%,
    rgba(255, 28, 29, 0) 100%
  );
  position: absolute;
  top: 2px;
  left: 110px;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

section#sect02 .inner #control_list ul .exe00::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 194, 237, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  top: 2px;
  left: 110px;
}
/* imfo */
.info{
  width: 1420px;
  margin: auto;
}
.info_wrap{
  display: flex;
  justify-content: space-between;
}
/* notice */
.wrap{
  width: 560px;
  height: 380px;
  margin-top: 30px;
  box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  -webkit-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  -moz-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
}
.title{display: flex; justify-content: space-around;
  margin-top: 10px; margin-left: 15px;
}
.title a{display: block; flex: 1; text-align: center;
  padding: 0.8rem 0;
  box-sizing: border-box; 
}
.title a i img{
  position: relative;
  left:24px ;
  top: 2px;
  width: 15px;
  height: 15px;
  transition: 0.3s;}
.title a i:hover img{
  transform: rotate(90deg);
}
.title a.on{
  border-bottom: 4px solid #AAD499;
  font-size: 18px;
  color: var(--point-color);
  font-weight: 500; transition: 0.26s;
}
.content{
  margin-top: 10px;
}
.content>div{height: 100%;padding: 1rem;}
.content>div>.content_text{
 font-size: 0.9rem;
 margin-top: -4px;
}
.content>div>.content_text ul li:hover p{
  color: var(--point-color);
}
.content>div>.content_text ul li a{display: flex; justify-content: space-between;
  line-height: 25px;
  font-size: 14px;
}
.content>div>.content_text ul li a p{width:400px ;
  margin-left: 10px;
}
.content>div>.content_text ul li a span{
  color: var(--point-color);
}
/* map */
.map{width: 325px; height: 380px;
  margin-top: 30px;
  margin-left: 10px;
  box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  -webkit-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  -moz-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.map_wrap h1{
  position: relative;
  left: 20px;
  top: 20px;
  font-size: 18px;
  font-weight: 400;
}
.map_wrap span{
  color: #004DA0;
}
.map_img{
  text-align: center;  
  height: 326px;
  position: relative;
  top: 30px;
}
.map_wrap a {
  background-color: #fff;
  border: 1px solid #42a5af;
  padding: 0.2em 0.3em;
  color: #42a5af;
  font-size: 13px;
  position: absolute;
}
.map_wrap a:hover {
  background-color: rgb(243, 240, 240);
  transform: scale(1.1);
  transition: 0.1s;
}
.map_wrap .maplist01 {
  left: 180px;
  top: 60px;
}
.map_wrap  .maplist02 {
  left: 75px;
  top: 95px;
}
.map_wrap  .maplist03 {
  left: 150px;
  top: 99px;
}
.map_wrap  .maplist04 {
  right: 70px;
  top: 100px;
}
.map_wrap  .maplist05 {
  right: 60px;
  top: 128px;
}
.map_wrap  .maplist06 {
  left: 40px;
  top: 146px;
}
.map_wrap  .maplist07 {
  right: 90px;
  top: 155px;
}
.map_wrap .maplist08 {
  right: 149px;
  top: 154px;
}
.map_wrap  .maplist09 {
  right: 149px;
  top: 126px;
}
.map_wrap .maplist10 {
  left: 72px;
  top: 176px;
}
.map_wrap .maplist11 {
  right: 150px;
  top: 184px;
}
.map_wrap  .maplist12 {
  right: 78px;
  top: 178px;
}
.map_wrap .maplist13 {
  right: 90px;
  top: 200px;
}
.map_wrap  .maplist14 {
  left: 50px;
  bottom: 155px;
}
.map_wrap .maplist15 {
  left: 118px;
  bottom: 150px;
}
.map_wrap .maplist16 {
  right: 56px;
  bottom: 135px;
}
.map_wrap  .maplist17 {
  right: 150px;
  bottom: 125px;
}
.map_wrap .maplist18 {
  left: 70px;
  bottom: 90px;
}
.map_wrap .maplist19 {
  right: 75px;
  bottom: 86px;
}
.map_wrap .maplist20 {
  left: 50px;
  bottom: 60px;
}
.map_wrap .maplist21 {
  left: 120px;
  bottom: 63px;
}
.map_wrap .maplist22 {
  left: 100px;
  bottom: 17px;
}
/* service */
.service{
  width: 475px;
  height: 380px;
  margin-left: 10px;
  margin-top: 30px;
  box-shadow:  0 0 43px rgba(0,0,0,0.79);
  -webkit-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  -moz-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.service_wrap{
  width: 440px; height: 333px;
  margin: auto;

}
.service h1{
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 18px;
  font-weight: 400;
}
.service span{color: #004DA0;}
.service_img{
  margin-top: 70px;
}
.service_img_wrap1 ul,
.service_img_wrap2 ul{
  display: flex;
  justify-content: space-between;
}
.service_img_wrap1 ul li,
.service_img_wrap2 ul li{
  text-align: center;
  width: 130px; height: 125px;
 
}
.service_img_wrap2 ul{
  margin-top: 30px;
}
.service_img_wrap1 ul li a p,
.service_img_wrap2 ul li a p{
  margin-top: 20px;
  font-size: 14px;
}

.service_img_wrap1 ul li a .service_img_box,
.service_img_wrap2 ul li a .service_img_box{
  box-shadow: 10px 10px 43px -10px rgba(0,0,0,0.79);
  -webkit-box-shadow: 10px 10px 30px -21px rgba(0,0,0,0.79);
  -moz-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  background-color: #eee;
  border-radius: 100%; 
  width: 70px; height: 70px;
  margin: auto;
  text-align: center;
}
.service_img_wrap1 ul li a .service_img_box .move,
.service_img_wrap2 ul li a .service_img_box .move
{
  position: relative;
  top: 8px;
  left: 1px;
}
.service_img_wrap1 ul li a .service_img_box .move2{
  position: relative;
  top: 5px;
}
.service_img_wrap1 ul li a:hover img,
.service_img_wrap2 ul li a:hover img
{
  transform: scale(1.1);
}

.service_img_wrap1 ul li a:hover .service_img_box,
.service_img_wrap2 ul li a:hover .service_img_box{
  background-color: #ffffff;
}
/* enjoy */
.enjoy{background: url(/img/bg.jpg)no-repeat;
  height: 538px;
}
.enjoy_wrap{width: 1420px; margin: auto;
}
.enjoy_text{
  text-align: center;
  height: 150px;
  line-height: 150px;
}
.enjoy_text h1{font-family: 'TangsBudaeJjigae'; font-size: 28px; }
.enjoy_box{display: flex; justify-content: space-between;}
.enjoy_box .left_box,
.enjoy_box .middle_box,
.enjoy_box .right_box{
  width: 465px ;
  border-radius: 25px;
  box-shadow:  0 0 43px rgba(0,0,0,0.79);
  -webkit-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  -moz-box-shadow: 10px 10px 43px -15px rgba(0,0,0,0.79);
  background-color: #fff;
  height: 290px;
}
.left_box .review_box{position: relative;}
.left_box .review_box h2{
  position: absolute;
  left: 30px; top: 20px;
  line-height: 25px;
  font-size: 19px; font-weight: 500;
}
.review_box .review_text {
  border-radius: 15px;
  position: absolute;
  width: 300px;
  height: 240px;
  line-height: 20px;
  left: 150px;
  top: 24px;
  border: 1px solid #B5B5B5;
}
.review_box .review_text ul li{
  width: 270px; margin-left: 14px;
}
.review_box .review_text ul li a{ display: flex; justify-content: space-between;
  margin-top: 18px;
  font-size: 13px;
  line-height: 18px;
}
.review_box .review_text ul li:hover a{
  color:#8fb0d1
}
.revie_line{width: 270px;}
.review_box .review_btn{position: absolute;
  top: 235px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #A0C4E8;
  border-radius: 50px;
  width: 110px;
  height: 35px; 
  line-height: 35px;
  cursor: pointer;
}
.review_box .review_btn p {font-size: 14px; color: #fff; position: relative;
  left: 15px;
}
.review_box .review_btn a{ position: relative;
  top: 5px;
  right: 9px;
}
.review_box .review_btn:hover a img{
  transform: scale(1.1);
}
.enjoy_box .middle_box h2{
  position: relative;
  line-height: 25px;
  font-size: 19px; font-weight: 500;
  top: 20px;
  left: 30px;
}
.enjoy_box .middle_box .middle_box_img{
  border-radius: 15px;
  position: relative;
  width: 300px;
  height: 240px;
  left: 210px;
  top: -12px;
}
.enjoy_box .middle_box .middle_box_img img{
  width: 230px;
  height: 210px;
}
.enjoy_box .middle_box .midde_btn{display: flex;
  justify-content: space-between;
  background-color: #A0C4E8;
  border-radius: 50px;
  width: 110px;
  height: 35px; 
  line-height: 35px;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  left: 20px;
}
.enjoy_box .middle_box .midde_btn p{color: #fff;
  position: relative;
  left: 15px; font-size: 14px;
  
}
.enjoy_box .middle_box .midde_btn a{
  position: relative;
  top: 5px;
  right: 9px; 
}
.enjoy_box .midde_btn a img{
  transition: 0.4s;
}
.enjoy_box .midde_btn:hover a img{
  transform: translateX(-5px);
}
.enjoy_box .review_btn a img{
  transition: 0.4s;
}
.enjoy_box .review_btn:hover a img{
  transform: translateX(-5px);
}
.enjoy_box .right_btn a img{
  transition: 0.4s;
}
.enjoy_box .right_btn:hover a img{
  transform: translateX(-5px);
}

.enjoy_box .bear_box h2{
  position: relative;
  line-height: 25px;
  font-size: 19px; font-weight: 500;
  top: 20px;
  left: 30px;
}
.enjoy_box .bear_box .bear_img{
  position: relative;
  width: 300px;
  height: 240px;
  left: 100px;
  top: 35px;
}
.enjoy_box .bear_box .bear_img img{width: 330px; height: 170px;}
.enjoy_box .bear_box .right_btn{
  display: flex;
  justify-content: space-between;
  background-color: #A0C4E8;
  border-radius: 50px;
  width: 110px;
  height: 35px; 
  line-height: 35px;
  cursor: pointer;
  position: relative;
  bottom: 25px;
  left: 22px;
}
.enjoy_box .bear_box .right_btn p{color: #fff;
  position: relative;
  left: 15px; font-size: 14px;
}
.enjoy_box .bear_box .right_btn a{
  position: relative;
  top: 5px;
  right: 9px;
}
/* card */
.card{width: 1420px ; margin: 0 auto;}
.card_wrap{display: flex; justify-content: space-between;}
.card_box{width: 330px; height: 320px;
  text-align: center;
  border-radius: 25px;
 color: #fff;
 
}
.card_box .card_text{margin-top: 20px; }
.card_box h2{cursor: pointer; font-weight: 500; font-size: 18px; }
.card_box p{line-height: 40px; cursor: pointer;font-weight: 300;}
.card_box:nth-child(4) p,
.card_box:nth-child(2) p,
.card_box:nth-child(1) p
{line-height: 50px}
.card_box p:hover{
  transform: scale(1.1);
  color: #eee;
}
.card_box:nth-child(1){background-color: #168884;}
.card_box:nth-child(2){background-color: #1E5C97;}
.card_box:nth-child(3){background-color: #344976;}
.card_box:nth-child(4){background-color: #37959D;}
/* photo */
.photo{width: 1420px; margin: 20px auto;}
.photo_text{display: flex; justify-content: space-between;}
.photo_text .photo_left{ display: flex; }
.photo_text .photo_left h1{font-size: 22px; font-weight: bold;}
.photo_text .photo_left h2{font-size: 15px; margin-top: 4px; margin-left: 10px;}
.photo_text .photo_right a i img{
  margin-top: 3px;
  width: 15px; height: 15px;
  transition: 0.3s;
}
.photo_text .photo_right a:hover img{
  transform: rotate(90deg);
}
.photo_img{ display: flex; justify-content: space-between;}
.photo_img .photo_box{ 
  width: 340px; 
  height: 320px;
}
.photo_img .photo_box img{width: auto; height: 100%; transition: 0.5s;}
.photo_img .photo_box img:hover{transform: scale(1.1);}
/* banner01 */
.banner01{width: 1120px; height: 80px; margin: auto; text-align: center;
  position: relative;
  left: 150px;
  line-height: 80px;
}
.container2 {width: 1120px; height: 80px; margin: auto; text-align: center;
  line-height: 80px;
}
.swiper-wrapper{
  margin-top: 20px;
}
 .swiper-button-prev2{
  position: absolute;
  left: -170px; top: 30px;
  width: 30px;
  height: 30px;
  background: url(../img/Vector\ 2.png) no-repeat;
  cursor: pointer;
}
.swiper-button-prev2::after{
 opacity: 0;
}
.swiper-button-next2::after{
  opacity: 0;
 }
.swiper-button-next2{
  position:absolute;
  right: 1223px; top: 30px;
  width: 30px;
  cursor: pointer;
  height: 30px;
  background: url(../img/Vector\ 3.png) no-repeat;
}
.banner_line{width: 1420px; margin: auto;}
/* banner02 */
.banner02{width: 1420px; margin: auto;}
.banner02_wrap{display: flex; 
  margin-top: 10px;
}
.banner_left{flex: 1; border: 1.5px solid #969696; text-align: center; height: 50px;
  line-height: 50px;}
.banner_middle{flex: 1; border: 1.5px solid #969696;
  text-align: center; height: 50px;
  line-height: 50px;}
.banner_right{flex: 1; border: 1.5px solid #969696;
  text-align: center; height: 50px;
}
.banner_right img{
  width: 48px;
  height: 48px;
  margin-top: 5px;
}
/* footer */
footer{background-color: #103428;
  height: 250px;
  }
  .footer_wrap{ text-align: center; line-height: 50px;  width: 1420px; margin: auto;}
  .footer_text{
    padding-top: 20px;
    line-height: 40px;
    color: #fff;
    font-size: 14px; 
  }
  .footer_wrap a{color: #fff; font-weight: 300;}
  .footer_wrap p{font-weight: 300;}
  .footer_wrap img{width: 200px; margin-top: 20px;}
  
  footer .foonter_wrap03 {
    width: 100%;
    height: 250px;
    background-color: #103428;
    color: #dadada;
    text-align: center;
  }
  footer .foonter_wrap03 .wrap03_list {
    display: flex;
    justify-content: center;
  }
  footer .foonter_wrap03 .wrap03_list ul {
    display: flex;
    margin: 2.2em;
    margin-top: 3em;
  }
  footer .foonter_wrap03 .wrap03_list ul li a {
    color: #dadada;
    transition: 0.2s;
  }
  footer .foonter_wrap03 .wrap03_list ul li a:hover {
    color: #fcfcfc;
  }
  footer .foonter_wrap03 .wrap03_list ul li a::after {
    content: "/";
    color: #dadada8a;
    margin: 0 1em;
  }
  footer .foonter_wrap03 .wrap03_footer_info {
    line-height: 1.5em;
  }
  footer .foonter_wrap03 .wrap03_list ul li a:last-child::after {
    display: none;
  }
  .footer_logo {
    margin-top: 2.5em;
  }